doctype html
html
    head
        style
            include style.css
    body
        div.header
            | Hello, #{userName}!

        div
            block content

        div.footer
            | Have a good day!
            br
            a(href='https://www.pngitem.com/pimgs/m/512-5127334_happy-minion-png-minion-png-transparent-png.png') Click here!