extends container
block content
    p Thank You, for registering &#128522;
    p Token #{token}
    p To activate your account click on link below
        div.margin-bottom
            a(href=activateAccountUrl) Click here!



